nav ul{
    list-style: none; 
    background: blueviolet;
    color: white;
    padding: 10px;   

}

nav ul li{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    padding: 10px;
    
}

nav a {
    text-decoration: none;
}

nav ul li:hover,
nav ul a.active{
    background: grey;
    color: white;
    padding: 10px;
}