/* av{
    position: fixed;
    top: 0;
    width: 100%;
    padding-bottom: 200px;
}n */
nav ul{
    list-style: none; 
    background: blueviolet;
    color: white;
    padding: 10px;   

}

nav ul li{
    display: inline-block;
    margin: 5px;
    cursor: pointer;
    
}

nav a {
    text-decoration: none;
    padding: 10px;
}

nav ul a:hover,
nav ul a.active{
    background: grey;
    color: white;
    padding: 10px;
}