.red {
    color: red;
  }
  
  .bold{
    font-weight: bold;
  }


.Cockpit button{
    background-color: #999;
    color: white;
    font-family: inherit;
    border: 1px solid #333;
    padding: 10px;
    cursor: pointer;
}

.Cockpit button:hover{
  background-color: lightgreen;
  color: black;
}

.Cockpit button.Red {
  background-color: red;
}

.Cockpit button.Red:hover{
  background-color: salmon;
}